module.exports = {
    USER: 'ssvob',
    password: 'lemonlime1989',
    API_KEY: '021f445326fce37262f483bedf8f0d248a5a7418', // you can find it in your cartodb dashboard: https://YOURUSER.cartodb.com/your_apps/api_key
    // you do not need to fill those two for this example
    CONSUMER_KEY: 'OqMLjvk0Ig6adu2ILtn7uZM1PqKgsKllGnb7AucA', 
    CONSUMER_SECRET: 'RhATWnsTDi17oLUIOshdg00iQvn8cPSClnEaEYVa',
};
